@import url(https://fonts.googleapis.com/css?family=Gilda+Display);

@font-face {
    font-family: 'entypo';
    src: url('/static/fonts/entypo/entypo.eot');
    src: url('/static/fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/entypo/entypo.woff') format('woff'),
         url('/static/fonts/entypo/entypo.ttf') format('truetype'),
         url('/static/fonts/entypo/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  padding-top: 60px;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Gilda Display", serif;
}


.nav-pills > li a {
  border: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.nav-pills > .active a {
  border: 0px;
}

.pictogram {
  font-family: "entypo";
  font-size: 4em;
	line-height: 1;
  color: #333;
}

.icon-entypo {
  font-family: "entypo";
  font-size: 28px;
  color: #333;
}


.container-lbh {
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
}


.atom {
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.atom img {
	border: 0;
	padding: 0;
	margin: 0;
	display: inline;
	vertical-align: middle;
	height: 10px;
}